*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main *{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.main{
    height: 100vh;
    background-color: white;
    color: white;
    display: grid;
    text-align: center;
    gap: 10px;
    font-size: 1.5rem;
    grid-template-columns: repeat(2fr,2fr, 2fr,5fr);
    grid-template-rows:100px 2fr 100px 1fr;
 }
 header{
    grid-column: 1/4;
 }
 .item-1{
    background-color: crimson;
 }
 .content-1{
    grid-column:2/4;
    background-color: coral;
    
 }
.lside{
    grid-column: 1/2;
    grid-row:2/4;
    background-color: chartreuse;
}
footer{
    grid-column: 1/4;
}
.content-3{
    background-color: pink;
}
.item-6{
    background-color: aqua;
}