*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main * {
background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    background-color:white;
    height:100vh;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr 2fr 1fr;
    grid-template-rows: .7fr .7fr .7fr .7fr;

}

.a1,
.a5,
.a7 {
    grid-column: 1/2;
    background-color: plum;
}
.a5{
    background-color: aqua;
}
.a7{
    background-color: chartreuse;
}
.a2 {
    grid-column: 2/4;
    grid-row: 1/3;
    background-color: aquamarine;
}

.a3 {
    grid-column: 4/5;
    grid-row: 1/5;
    background-color: brown;
    font-size: 2rem;
}
.a4,
.a6,
.a10,
.a12 {
    grid-column: 5/6;
    background-color: blue;
}
.a6{
    background-color: coral;
}
.a10{
    background-color: darkgrey;
}
.a12{
    background-color: cornflowerblue;
}

.a8 {
    grid-column: 2/3;
    background-color: darkorange;
}

.a9 {
    grid-column: 3/4;
   background-color: deeppink;
}

.a11 {
    grid-column: 1/4;
    background-color: greenyellow;
   
}